body {
  background-color: #F5F8FA;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-size: 15px;
  line-height: 1.5em;
}



h1 {
  color: #02B875;
  font-size: 32px, line-height 1.2;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h2 {
  color: #808080;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  color: #919191;
}

.container {
  width: 500px;
  margin: 30px auto;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.img-movies {
  margin-right: 20px;
  width: 120px;
}

/*div {
    display: block;
}*/

.card {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.image-circle {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

.title-movie {
  padding-top: 0px;
  padding-bottom: 5px;
}

.list-inline{
  padding-left: 0px;
  text-align: center;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}





